# Resumen de los datos,  dimensiones y estructura

In [5]:
import pandas as pd
import os

In [12]:
mainpath = "C:/Users/smena/Documents/Cursos Udemy/python-ml-course/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [16]:
data = pd.read_csv(fullpath)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [18]:
data.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [17]:
# Dimensiones (filas, columnas)
data.shape

(1309, 14)

In [21]:
# Obtener un arrelgo de los valores de las cabeceras (nombre de las columnas)
data.columns.values

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

# Resumen estad√≠stico

In [22]:
# Es parecido al summary de R
data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [ ]:
# Los tipos de cada columna
data.dtypes

# Valores periddos (Missing values

In [39]:
# Arreglo que indica como verdaderos los nulos
pd.isnull(data["body"]).values

array([ True,  True,  True, ..., False,  True,  True])

In [38]:
# Cuenta los verdaderos, osea los nulos
pd.isnull(data["body"]).values.ravel().sum()

1188

In [31]:
# Arreglo que indica como verdaderos los no nulos
pd.isnull(data)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,True,True,False
8,False,False,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,True,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,True,False,False,True,True
14,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,True,False,False,False,False,True,False,True,True,False
16,False,False,False,False,False,False,False,False,False,False,False,True,True,False
17,False,False,False,False,False,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,False,False,False,True,True
19,False,False,False,False,False,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,True,False,False,True,True
24,False,False,False,False,False,False,False,False,False,False,False,False,True,True
25,False,False,False,False,False,False,False,False,False,True,False,True,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1280,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1281,False,False,False,False,False,False,False,False,False,True,False,True,True,False
1282,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1283,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1284,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1285,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1286,False,False,False,False,False,False,False,False,False,True,False,False,True,True
1287,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1288,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1289,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1290,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1291,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1292,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1293,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1294,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1295,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1296,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1297,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1298,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1299,False,False,False,False,False,False,False,False,False,True,False,False,True,True
1300,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1301,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1302,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1303,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1304,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1305,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1306,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1307,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1308,False,False,False,False,False,False,False,False,False,True,False,True,True,True

Los valores que faltan en un data set se puede deber por dos razones:

* Extracci√≥n de los dat datos
* Recolecci√≥n de datos